<div class="t">
  <div class="wrapper">
    <div class="mis">
      <span>მისამართი</span>
      <span><a href="https://www.google.ge/maps/dir/41.7294718,44.7459041/Delisi/@41.7294035,44.7460682,19.28z/data=!4m8!4m7!1m0!1m5!1m1!1s0x4044731af1c91591:0xab872b019aedaa11!2m2!1d44.7445089!2d41.7255358?hl=en" target="_blank">ქ. თბილისი, დელისის I შესახვევი 5ა</a></span>
    </div>
    <div class="tell">
      <span>ტელეფონი/ფაქსი</span>
      <span>+995 32 239 90 19 / +995 32 239 90 18</span>
    </div>
    <div class="mail">
      <span>ელ-ფოსტა/ვებ-გვერდი</span>
      <span><a href="mailto:office@csrdg.ge" target="_top">office@csrdg.ge</a> / <a href="http://www.csrdg.ge" target="_blank">www.csrdg.ge</a></span>
    </div>
  </div>
</div>
