<div class="t">
  <div class="wrapper">
    <div class="mis">
      <span i18n>მისამართი</span>
      <span><a href="{{info?.address.mapUrl}}" target="_blank" i18n>ქ. თბილისი, დელისის I შესახვევი 5ა</a></span>
    </div>
    <div class="tell">
      <span i18n>ტელეფონი/ფაქსი</span>
      <span>{{info?.phone}} / {{info?.fax}}</span>
    </div>
    <div class="mail">
      <span i18n>ელ-ფოსტა/ვებ-გვერდი</span>
      <span><a href="{{'mailto:' + info?.email}}" target="_top">{{info?.email}}</a> / <a href="{{info?.website}}" target="_blank">{{info?.website}}</a></span>
    </div>
  </div>
</div>
