div.m {

  background-color: #ececec;

  height: 110px;

}

div.m div.wrapper {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  height: 100%;

  -webkit-box-pack: justify;

  -webkit-justify-content: space-between;

  -ms-flex-pack: justify;

  justify-content: space-between;

  -webkit-box-align: center;

  -webkit-align-items: center;

  -ms-flex-align: center;

  align-items: center;

  padding: 0 20px;

}

div.m div.wrapper a.logo{

  font-size: 23px;

  color: #267ac0;

  font-weight: bold;

}

div.m div.wrapper a.logo span{

  color: #57a575;

}


#burger{

  display: none;

  width: 75px;

  height: 45px;

  flex-direction: column;

  -webkit-flex-direction: column;

  justify-content: space-between;

  -webkit-justify-content: space-between;

}

#burger span{

  width: 100%;

  height: 8px;

  background-color: #57a575;

  border-radius: 8px;

}
