<div class="t">
  <div class="wrapper">
    <div>
      დაგვიკავშირდით: +995 32 239 90 19
    </div>
    <div>
      <div class="soc">
        <a target="_blank" href="https://www.facebook.com/CSRDG/" class="fb"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCQbH-tTQidEO4_OcikDnIsw" class="youtb"></a>
        <a target="_blank" href="https://www.linkedin.com/organization/13289733/admin/updates" class="in"></a>
      </div>
      <form action="/act/search/">
        <input type="text" name="kw" value="" placeholder="საიტზე ძებნა">
        <input type="submit" value="">
      </form>
      <ul>
        <li>ენა: <span onclick="changelang('en')">EN</span></li>            </ul>
    </div>
  </div>
</div>
