<div class="pb">
  <a href="/ka/38/" class="miige">
    <img src="/inc_files/images/miige.png" alt="">
    <div>
      <h3>მიიღე<br> პრო ბონო</h3>
      <span>გაიგე მეტი</span>
    </div>
  </a>
  <a href="/ka/37/" class="mieci">
    <img src="/inc_files/images/mieci.png" alt="">
    <div>
      <h3>გაეცი<br> პრო ბონო</h3>
      <span>გაიგე მეტი</span>
    </div>
  </a>
  <a href="/ka/24/" class="how">
    <img src="/inc_files/images/how.png" alt="">
    <div>
      <h3>არ იცით<br> როგორ?</h3>
      <span>დაგვიკავშირდით</span>
    </div>
  </a>
</div>
