<div class="n">
  <div class="h">
  </div>
  <article>
    <a href="/ka/news/31/">
      <div class="img">
        <img src="http://probonogeorgia.ge/thumb.php?img=79e43700f7a09e580655f8e4b56f9393.jpg&amp;render=resize&amp;x=208&amp;y=140" alt="">
      </div>
      <div class="desc">
        <h3>პრო ბონო მასტერკლასი</h3>
        <p>2018 წლის 22 თებერვალს ჩატარდა პრო ბონო მასტერკლასი თემაზე "ლიდერობა"</p>
      </div>
    </a>
    <h4 class="date">26/02/2019</h4>
  </article>
  <article>
    <a href="/ka/news/30/">
      <div class="img">
        <img src="http://probonogeorgia.ge/thumb.php?img=703ca638ca96c872e60a327ab6e375c0.jpg&amp;render=resize&amp;x=208&amp;y=140" alt="">
      </div>
      <div class="desc">
        <h3>საქართველოს პრო ბონო ქსელის შეხვედრა</h3>
        <p>7 ნოემბერს გაიმართა პრო ბონო ქსელის ყოველწლიური შეხვედრა</p>
      </div>
    </a>
    <h4 class="date">09/11/2018</h4>
  </article>
  <article>
    <a href="/ka/news/29/">
      <div class="img">
        <img src="http://probonogeorgia.ge/thumb.php?img=9d57d4e5756bc652097ee842feb932e3.png&amp;render=resize&amp;x=208&amp;y=140" alt="">
      </div>
      <div class="desc">
        <h3>მიკროსაფინანსო ორგანიზაცია ემ ბი სი-ს პრო ბონო კონსულტაცია </h3>
        <p>დასრულდა პრო ბონო კონსულტაცია მუსთერაპიული ცენტრისთვის</p>
      </div>
    </a>
    <h4 class="date">12/10/2018</h4>
  </article>
  <article>
    <a href="/ka/news/28/">
      <div class="img">
        <img src="http://probonogeorgia.ge/thumb.php?img=14fe436fd814a2dbc246068a10a27171.jpg&amp;render=resize&amp;x=208&amp;y=140" alt="">
      </div>
      <div class="desc">
        <h3>საქართველოს პრო ბონო ქსელს ახალი წევრი ჰყავს</h3>
        <p>მიკროსაფინანსო ორგანიზაცია "გირო კრედიტი" შემოუერთდა საქართველოს პრო ბონო ქსელს</p>
      </div>
    </a>
    <h4 class="date">11/09/2018</h4>
  </article>
</div>
